<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Treinador</title>
</head>
<body>
    <h1>Cadastrar Pokémon</h1>
    <form action="/addTrainer" method="POST">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required><br><br>

        <label for="tipo">Pokemon1:</label>
        <input type="text" id="pokemon1" name="pokemon1" required><br><br>

        <label for="tipo">Pokemon2:</label>
        <input type="text" id="pokemon2" name="pokemon2" required><br><br>

        <label for="tipo">Pokemon3:</label>
        <input type="text" id="pokemon3" name="pokemon3" required><br><br>


        <button type="submit">Cadastrar</button>
    </form>
    <br>
    <a href="/">Voltar à Pokédex</a>
</body>
</html>

